input{
    margin: 20px;
    height: 35px;
    font-size: 20px;
    background-image: radial-gradient(white ,rgb(175, 182, 198));
    font-weight: bold;
    color:black;
  }
  button{
    height: 35px;
    background-image: radial-gradient(rgb(73, 69, 69) ,rgb(36, 33, 33) );
    font-weight: bold;
    color:white;
    border-radius: 10px;
  }