h1,
input,
button,
p {
  margin: 15px;
}
input {
  height: 20px;
  width: 180px;
  font-size: 20px;
  font-weight: 500;
}
div {
  border: 2px solid black;
  height: 200px;
  width: 350px;
  margin: 30px;
}
p {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
